sites/update/minder/includes/NetSuite/netsuite.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="urn:platform_2008_1.webservices.netsuite.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:platformMsgs="urn:messages_2008_1.platform.webservices.netsuite.com" xmlns:platformFaults="urn:faults_2008_1.platform.webservices.netsuite.com" targetNamespace="urn:platform_2008_1.webservices.netsuite.com">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="urn:core_2008_1.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2008_1_0/core.xsd"/>
            <xsd:import namespace="urn:faults_2008_1.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2008_1_0/faults.xsd"/>
            <xsd:import namespace="urn:messages_2008_1.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2008_1_0/messages.xsd"/>
            <xsd:import namespace="urn:common_2008_1.platform.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/platform/v2008_1_0/common.xsd"/>
            <xsd:import namespace="urn:scheduling_2008_1.activities.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/activities/v2008_1_0/scheduling.xsd"/>
            <xsd:import namespace="urn:types.scheduling_2008_1.activities.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/activities/v2008_1_0/schedulingTypes.xsd"/>
            <xsd:import namespace="urn:communication_2008_1.general.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/general/v2008_1_0/communication.xsd"/>
            <xsd:import namespace="urn:types.communication_2008_1.general.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/general/v2008_1_0/communicationTypes.xsd"/>
            <xsd:import namespace="urn:relationships_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/relationships.xsd"/>
            <xsd:import namespace="urn:types.relationships_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/relationshipTypes.xsd"/>
            <xsd:import namespace="urn:support_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/support.xsd"/>
            <xsd:import namespace="urn:types.support_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/supportTypes.xsd"/>
            <xsd:import namespace="urn:accounting_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/accounting.xsd"/>
            <xsd:import namespace="urn:types.accounting_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/accountingTypes.xsd"/>
            <xsd:import namespace="urn:sales_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/sales.xsd"/>
            <xsd:import namespace="urn:types.sales_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/saleTypes.xsd"/>
            <xsd:import namespace="urn:purchases_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/purchases.xsd"/>
            <xsd:import namespace="urn:customers_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/customers.xsd"/>
            <xsd:import namespace="urn:bank_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/bank.xsd"/>
            <xsd:import namespace="urn:inventory_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/inventory.xsd"/>
            <xsd:import namespace="urn:types.inventory_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/inventoryTypes.xsd"/>
            <xsd:import namespace="urn:general_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/general.xsd"/>
            <xsd:import namespace="urn:customization_2008_1.setup.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/setup/v2008_1_0/customization.xsd"/>
            <xsd:import namespace="urn:types.customization_2008_1.setup.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/setup/v2008_1_0/customizationTypes.xsd"/>
            <xsd:import namespace="urn:employees_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/employees.xsd"/>
            <xsd:import namespace="urn:types.employees_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/employeeTypes.xsd"/>
            <xsd:import namespace="urn:filecabinet_2008_1.documents.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/documents/v2008_1_0/fileCabinet.xsd"/>
            <xsd:import namespace="urn:types.filecabinet_2008_1.documents.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/documents/v2008_1_0/fileCabinetTypes.xsd"/>
            <xsd:import namespace="urn:website_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/website.xsd"/>
            <xsd:import namespace="urn:types.website_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/websiteTypes.xsd"/>
            <xsd:import namespace="urn:employees_2008_1.transactions.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/transactions/v2008_1_0/employees.xsd"/>
            <xsd:import namespace="urn:marketing_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/marketing.xsd"/>
            <xsd:import namespace="urn:types.marketing_2008_1.lists.webservices.netsuite.com" schemaLocation="https://webservices.netsuite.com/xsd/lists/v2008_1_0/marketingTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="headers">
        <part name="applicationInfo" element="platformMsgs:applicationInfo"/>
        <part name="partnerInfo" element="platformMsgs:partnerInfo"/>
        <part name="documentInfo" element="platformMsgs:documentInfo"/>
        <part name="sessionInfo" element="platformMsgs:sessionInfo"/>
        <part name="preferences" element="platformMsgs:preferences"/>
        <part name="searchPreferences" element="platformMsgs:searchPreferences"/>
    </message>
    <message name="loginRequest">
        <part name="parameters" element="platformMsgs:login"/>
    </message>
    <message name="loginResponse">
        <part name="parameters" element="platformMsgs:loginResponse"/>
    </message>
    <message name="mapSsoRequest">
        <part name="parameters" element="platformMsgs:mapSso"/>
    </message>
    <message name="mapSsoResponse">
        <part name="parameters" element="platformMsgs:mapSsoResponse"/>
    </message>
    <message name="changePasswordOrEmailRequest">
        <part name="parameters" element="platformMsgs:changePasswordOrEmail"/>
    </message>
    <message name="changePasswordOrEmailResponse">
        <part name="parameters" element="platformMsgs:changePasswordOrEmailResponse"/>
    </message>
    <message name="logoutRequest">
        <part name="parameters" element="platformMsgs:logout"/>
    </message>
    <message name="logoutResponse">
        <part name="parameters" element="platformMsgs:logoutResponse"/>
    </message>
    <message name="addRequest">
        <part name="parameters" element="platformMsgs:add"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="platformMsgs:addResponse"/>
    </message>
    <message name="deleteRequest">
        <part name="parameters" element="platformMsgs:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="platformMsgs:deleteResponse"/>
    </message>
    <message name="searchRequest">
        <part name="parameters" element="platformMsgs:search"/>
    </message>
    <message name="searchResponse">
        <part name="parameters" element="platformMsgs:searchResponse"/>
    </message>
    <message name="searchMoreRequest">
        <part name="parameters" element="platformMsgs:searchMore"/>
    </message>
    <message name="searchMoreResponse">
        <part name="parameters" element="platformMsgs:searchMoreResponse"/>
    </message>
    <message name="searchNextRequest">
        <part name="parameters" element="platformMsgs:searchNext"/>
    </message>
    <message name="searchNextResponse">
        <part name="parameters" element="platformMsgs:searchNextResponse"/>
    </message>
    <message name="updateRequest">
        <part name="parameters" element="platformMsgs:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="platformMsgs:updateResponse"/>
    </message>
    <message name="addListRequest">
        <part name="parameters" element="platformMsgs:addList"/>
    </message>
    <message name="addListResponse">
        <part name="parameters" element="platformMsgs:addListResponse"/>
    </message>
    <message name="deleteListRequest">
        <part name="parameters" element="platformMsgs:deleteList"/>
    </message>
    <message name="deleteListResponse">
        <part name="parameters" element="platformMsgs:deleteListResponse"/>
    </message>
    <message name="updateListRequest">
        <part name="parameters" element="platformMsgs:updateList"/>
    </message>
    <message name="updateListResponse">
        <part name="parameters" element="platformMsgs:updateListResponse"/>
    </message>
    <message name="getRequest">
        <part name="parameters" element="platformMsgs:get"/>
    </message>
    <message name="getResponse">
        <part name="parameters" element="platformMsgs:getResponse"/>
    </message>
    <message name="getListRequest">
        <part name="parameters" element="platformMsgs:getList"/>
    </message>
    <message name="getListResponse">
        <part name="parameters" element="platformMsgs:getListResponse"/>
    </message>
    <message name="getAllRequest">
        <part name="parameters" element="platformMsgs:getAll"/>
    </message>
    <message name="getAllResponse">
        <part name="parameters" element="platformMsgs:getAllResponse"/>
    </message>
    <message name="getCustomizationRequest">
        <part name="parameters" element="platformMsgs:getCustomization"/>
    </message>
    <message name="getCustomizationResponse">
        <part name="parameters" element="platformMsgs:getCustomizationResponse"/>
    </message>
    <message name="initializeRequest">
        <part name="parameters" element="platformMsgs:initialize"/>
    </message>
    <message name="initializeResponse">
        <part name="parameters" element="platformMsgs:initializeResponse"/>
    </message>
    <message name="initializeListRequest">
        <part name="parameters" element="platformMsgs:initializeList"/>
    </message>
    <message name="initializeListResponse">
        <part name="parameters" element="platformMsgs:initializeListResponse"/>
    </message>
    <message name="getSelectValueRequest">
        <part name="parameters" element="platformMsgs:getSelectValue"/>
    </message>
    <message name="getSelectValueResponse">
        <part name="parameters" element="platformMsgs:getSelectValueResponse"/>
    </message>
    <message name="getItemAvailabilityRequest">
        <part name="parameters" element="platformMsgs:getItemAvailability"/>
    </message>
    <message name="getItemAvailabilityResponse">
        <part name="parameters" element="platformMsgs:getItemAvailabilityResponse"/>
    </message>
    <message name="attachRequest">
        <part name="parameters" element="platformMsgs:attach"/>
    </message>
    <message name="attachResponse">
        <part name="parameters" element="platformMsgs:attachResponse"/>
    </message>
    <message name="detachRequest">
        <part name="parameters" element="platformMsgs:detach"/>
    </message>
    <message name="detachResponse">
        <part name="parameters" element="platformMsgs:detachResponse"/>
    </message>
    <message name="asyncAddListRequest">
        <part name="parameters" element="platformMsgs:asyncAddList"/>
    </message>
    <message name="asyncUpdateListRequest">
        <part name="parameters" element="platformMsgs:asyncUpdateList"/>
    </message>
    <message name="asyncDeleteListRequest">
        <part name="parameters" element="platformMsgs:asyncDeleteList"/>
    </message>
    <message name="asyncGetListRequest">
        <part name="parameters" element="platformMsgs:asyncGetList"/>
    </message>
    <message name="asyncInitializeListRequest">
        <part name="parameters" element="platformMsgs:asyncInitializeList"/>
    </message>
    <message name="asyncSearchRequest">
        <part name="parameters" element="platformMsgs:asyncSearch"/>
    </message>
    <message name="getAsyncResultRequest">
        <part name="parameters" element="platformMsgs:getAsyncResult"/>
    </message>
    <message name="getAsyncResultResponse">
        <part name="parameters" element="platformMsgs:getAsyncResultResponse"/>
    </message>
    <message name="asyncAddListResponse">
        <part name="parameters" element="platformMsgs:asyncAddListResponse"/>
    </message>
    <message name="asyncUpdateListResponse">
        <part name="parameters" element="platformMsgs:asyncUpdateListResponse"/>
    </message>
    <message name="asyncDeleteListResponse">
        <part name="parameters" element="platformMsgs:asyncDeleteListResponse"/>
    </message>
    <message name="asyncGetListResponse">
        <part name="parameters" element="platformMsgs:asyncGetListResponse"/>
    </message>
    <message name="asyncInitializeListResponse">
        <part name="parameters" element="platformMsgs:asyncInitializeListResponse"/>
    </message>
    <message name="asyncSearchResponse">
        <part name="parameters" element="platformMsgs:asyncSearchResponse"/>
    </message>
    <message name="checkAsyncStatusResponse">
        <part name="parameters" element="platformMsgs:checkAsyncStatusResponse"/>
    </message>
    <message name="checkAsyncStatusRequest">
        <part name="parameters" element="platformMsgs:checkAsyncStatus"/>
    </message>
    <message name="InsufficientPermissionFault">
        <part name="fault" element="platformFaults:insufficientPermissionFault"/>
    </message>
    <message name="InvalidAccountFault">
        <part name="fault" element="platformFaults:invalidAccountFault"/>
    </message>
    <message name="InvalidCredentialsFault">
        <part name="fault" element="platformFaults:invalidCredentialsFault"/>
    </message>
    <message name="InvalidSessionFault">
        <part name="fault" element="platformFaults:invalidSessionFault"/>
    </message>
    <message name="InvalidVersionFault">
        <part name="fault" element="platformFaults:invalidVersionFault"/>
    </message>
    <message name="ExceededRequestLimitFault">
        <part name="fault" element="platformFaults:exceededRequestLimitFault"/>
    </message>
    <message name="ExceededUsageLimitFault">
        <part name="fault" element="platformFaults:exceededUsageLimitFault"/>
    </message>
    <message name="ExceededRecordCountFault">
        <part name="fault" element="platformFaults:exceededRecordCountFault"/>
    </message>
    <message name="ExceededRequestSizeFault">
        <part name="fault" element="platformFaults:exceededRequestSizeFault"/>
    </message>
    <message name="UnexpectedErrorFault">
        <part name="fault" element="platformFaults:unexpectedErrorFault"/>
    </message>
    <message name="AsyncFault">
        <part name="fault" element="platformFaults:asyncFault"/>
    </message>
    <message name="getDeletedRequest">
        <part name="parameters" element="platformMsgs:getDeleted"/>
    </message>
    <message name="getDeletedResponse">
        <part name="parameters" element="platformMsgs:getDeletedResponse"/>
    </message>
    <portType name="NetSuitePortType">
        <operation name="login">
            <input name="loginRequest" message="tns:loginRequest"/>
            <output name="loginResponse" message="tns:loginResponse"/>
            <fault name="InsufficientPermissionFault" message="tns:InsufficientPermissionFault"/>
            <fault name="InvalidAccountFault" message="tns:InvalidAccountFault"/>
            <fault name="InvalidCredentialsFault" message="tns:InvalidCredentialsFault"/>
            <fault name="InvalidVersionFault" message="tns:InvalidVersionFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="mapSso">
            <input name="mapSsoRequest" message="tns:mapSsoRequest"/>
            <output name="mapSsoResponse" message="tns:mapSsoResponse"/>
            <fault name="InsufficientPermissionFault" message="tns:InsufficientPermissionFault"/>
            <fault name="InvalidAccountFault" message="tns:InvalidAccountFault"/>
            <fault name="InvalidCredentialsFault" message="tns:InvalidCredentialsFault"/>
            <fault name="InvalidVersionFault" message="tns:InvalidVersionFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="changePasswordOrEmail">
            <input name="changePasswordOrEmailRequest" message="tns:changePasswordOrEmailRequest"/>
            <output name="changePasswordOrEmailResponse" message="tns:changePasswordOrEmailResponse"/>
            <fault name="InsufficientPermissionFault" message="tns:InsufficientPermissionFault"/>
            <fault name="InvalidAccountFault" message="tns:InvalidAccountFault"/>
            <fault name="InvalidCredentialsFault" message="tns:InvalidCredentialsFault"/>
            <fault name="InvalidVersionFault" message="tns:InvalidVersionFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="logout">
            <input name="logoutRequest" message="tns:logoutRequest"/>
            <output name="logoutResponse" message="tns:logoutResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="add">
            <input name="addRequest" message="tns:addRequest"/>
            <output name="addResponse" message="tns:addResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="delete">
            <input name="deleteRequest" message="tns:deleteRequest"/>
            <output name="deleteResponse" message="tns:deleteResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="search">
            <input name="searchRequest" message="tns:searchRequest"/>
            <output name="searchResponse" message="tns:searchResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="searchMore">
            <input name="searchMoreRequest" message="tns:searchMoreRequest"/>
            <output name="searchMoreResponse" message="tns:searchMoreResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="searchNext">
            <input name="searchNextRequest" message="tns:searchNextRequest"/>
            <output name="searchNextResponse" message="tns:searchNextResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="update">
            <input name="updateRequest" message="tns:updateRequest"/>
            <output name="updateResponse" message="tns:updateResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="addList">
            <input name="addListRequest" message="tns:addListRequest"/>
            <output name="addListResponse" message="tns:addListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="deleteList">
            <input name="deleteListRequest" message="tns:deleteListRequest"/>
            <output name="deleteListResponse" message="tns:deleteListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="updateList">
            <input name="updateListRequest" message="tns:updateListRequest"/>
            <output name="updateListResponse" message="tns:updateListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="get">
            <input name="getRequest" message="tns:getRequest"/>
            <output name="getResponse" message="tns:getResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getList">
            <input name="getListRequest" message="tns:getListRequest"/>
            <output name="getListResponse" message="tns:getListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getAll">
            <input name="getAllRequest" message="tns:getAllRequest"/>
            <output name="getAllResponse" message="tns:getAllResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getCustomization">
            <input name="getCustomizationRequest" message="tns:getCustomizationRequest"/>
            <output name="getCustomizationResponse" message="tns:getCustomizationResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="initialize">
            <input name="initializeRequest" message="tns:initializeRequest"/>
            <output name="initializeResponse" message="tns:initializeResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="initializeList">
            <input name="initializeListRequest" message="tns:initializeListRequest"/>
            <output name="initializeListResponse" message="tns:initializeListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getSelectValue">
            <input name="getSelectValueRequest" message="tns:getSelectValueRequest"/>
            <output name="getSelectValueResponse" message="tns:getSelectValueResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getItemAvailability">
            <input name="getItemAvailabilityRequest" message="tns:getItemAvailabilityRequest"/>
            <output name="getItemAvailabilityResponse" message="tns:getItemAvailabilityResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="attach">
            <input name="attachRequest" message="tns:attachRequest"/>
            <output name="attachResponse" message="tns:attachResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="detach">
            <input name="detachRequest" message="tns:detachRequest"/>
            <output name="detachResponse" message="tns:detachResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncAddList">
            <input name="asyncAddListRequest" message="tns:asyncAddListRequest"/>
            <output name="asyncAddListResponse" message="tns:asyncAddListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncUpdateList">
            <input name="asyncUpdateListRequest" message="tns:asyncUpdateListRequest"/>
            <output name="asyncUpdateListResponse" message="tns:asyncUpdateListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncDeleteList">
            <input name="asyncDeleteListRequest" message="tns:asyncDeleteListRequest"/>
            <output name="asyncDeleteListResponse" message="tns:asyncDeleteListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncGetList">
            <input name="asyncGetListRequest" message="tns:asyncGetListRequest"/>
            <output name="asyncGetListResponse" message="tns:asyncGetListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncInitializeList">
            <input name="asyncInitializeListRequest" message="tns:asyncInitializeListRequest"/>
            <output name="asyncInitializeListResponse" message="tns:asyncInitializeListResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="asyncSearch">
            <input name="asyncSearchRequest" message="tns:asyncSearchRequest"/>
            <output name="asyncSearchResponse" message="tns:asyncSearchResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getAsyncResult">
            <input name="getAsyncResultRequest" message="tns:getAsyncResultRequest"/>
            <output name="getAsyncResultResponse" message="tns:getAsyncResultResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededRequestLimitFault" message="tns:ExceededRequestLimitFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
            <fault name="AsyncFault" message="tns:AsyncFault"/>
        </operation>
        <operation name="checkAsyncStatus">
            <input name="checkAsyncStatusRequest" message="tns:checkAsyncStatusRequest"/>
            <output name="checkAsyncStatusResponse" message="tns:checkAsyncStatusResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="AsyncFault" message="tns:AsyncFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
        <operation name="getDeleted">
            <input name="getDeletedRequest" message="tns:getDeletedRequest"/>
            <output name="getDeletedResponse" message="tns:getDeletedResponse"/>
            <fault name="InvalidSessionFault" message="tns:InvalidSessionFault"/>
            <fault name="ExceededUsageLimitFault" message="tns:ExceededUsageLimitFault"/>
            <fault name="ExceededRecordCountFault" message="tns:ExceededRecordCountFault"/>
            <fault name="ExceededRequestSizeFault" message="tns:ExceededRequestSizeFault"/>
            <fault name="UnexpectedErrorFault" message="tns:UnexpectedErrorFault"/>
        </operation>
    </portType>
    <binding name="NetSuiteBinding" type="tns:NetSuitePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="login">
            <soap:operation soapAction="login"/>
            <input>
                <soap:header message="tns:headers" part="applicationInfo" use="literal"/>
                <soap:header message="tns:headers" part="partnerInfo" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="sessionInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InsufficientPermissionFault">
                <soap:fault name="InsufficientPermissionFault" use="literal"/>
            </fault>
            <fault name="InvalidAccountFault">
                <soap:fault name="InvalidAccountFault" use="literal"/>
            </fault>
            <fault name="InvalidCredentialsFault">
                <soap:fault name="InvalidCredentialsFault" use="literal"/>
            </fault>
            <fault name="InvalidVersionFault">
                <soap:fault name="InvalidVersionFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="mapSso">
            <soap:operation soapAction="mapSso"/>
            <input>
                <soap:header message="tns:headers" part="applicationInfo" use="literal"/>
                <soap:header message="tns:headers" part="partnerInfo" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="sessionInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InsufficientPermissionFault">
                <soap:fault name="InsufficientPermissionFault" use="literal"/>
            </fault>
            <fault name="InvalidAccountFault">
                <soap:fault name="InvalidAccountFault" use="literal"/>
            </fault>
            <fault name="InvalidCredentialsFault">
                <soap:fault name="InvalidCredentialsFault" use="literal"/>
            </fault>
            <fault name="InvalidVersionFault">
                <soap:fault name="InvalidVersionFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="changePasswordOrEmail">
            <soap:operation soapAction="changePasswordOrEmail"/>
            <input>
                <soap:header message="tns:headers" part="applicationInfo" use="literal"/>
                <soap:header message="tns:headers" part="partnerInfo" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="sessionInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InsufficientPermissionFault">
                <soap:fault name="InsufficientPermissionFault" use="literal"/>
            </fault>
            <fault name="InvalidAccountFault">
                <soap:fault name="InvalidAccountFault" use="literal"/>
            </fault>
            <fault name="InvalidCredentialsFault">
                <soap:fault name="InvalidCredentialsFault" use="literal"/>
            </fault>
            <fault name="InvalidVersionFault">
                <soap:fault name="InvalidVersionFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="logout">
            <soap:operation soapAction="logout"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
              <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="add">
            <soap:operation soapAction="add"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="delete">
            <soap:operation soapAction="delete"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="search">
            <soap:operation soapAction="search"/>
            <input>
                <soap:header message="tns:headers" part="searchPreferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="searchMore">
            <soap:operation soapAction="searchMore"/>
            <input>
                <soap:header message="tns:headers" part="searchPreferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="searchNext">
            <soap:operation soapAction="searchNext"/>
            <input>
                <soap:header message="tns:headers" part="searchPreferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="update">
            <soap:operation soapAction="update"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="addList">
            <soap:operation soapAction="addList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteList">
            <soap:operation soapAction="deleteList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateList">
            <soap:operation soapAction="updateList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="get">
            <soap:operation soapAction="get"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getList">
            <soap:operation soapAction="getList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getAll">
            <soap:operation soapAction="getAll"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getCustomization">
            <soap:operation soapAction="getCustomization"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="initialize">
            <soap:operation soapAction="initialize"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="initializeList">
            <soap:operation soapAction="initializeList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getSelectValue">
            <soap:operation soapAction="getSelectValue"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getItemAvailability">
            <soap:operation soapAction="getItemAvailability"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="attach">
            <soap:operation soapAction="attach"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="detach">
            <soap:operation soapAction="detach"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncAddList">
            <soap:operation soapAction="asyncAddList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncUpdateList">
            <soap:operation soapAction="asyncUpdateList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncDeleteList">
            <soap:operation soapAction="asyncDeleteList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncGetList">
            <soap:operation soapAction="asyncGetList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncInitializeList">
            <soap:operation soapAction="asyncInitializeList"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="asyncSearch">
            <soap:operation soapAction="asyncSearch"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getAsyncResult">
            <soap:operation soapAction="getAsyncResult"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestLimitFault">
                <soap:fault name="ExceededRequestLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
            <fault name="AsyncFault">
                <soap:fault name="AsyncFault" use="literal"/>
            </fault>
        </operation>
        <operation name="checkAsyncStatus">
            <soap:operation soapAction="checkAsyncStatus"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
            <fault name="AsyncFault">
                <soap:fault name="AsyncFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getDeleted">
            <soap:operation soapAction="getDeleted"/>
            <input>
                <soap:header message="tns:headers" part="preferences" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="tns:headers" part="documentInfo" use="literal"/>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSessionFault">
                <soap:fault name="InvalidSessionFault" use="literal"/>
            </fault>
            <fault name="ExceededUsageLimitFault">
                <soap:fault name="ExceededUsageLimitFault" use="literal"/>
            </fault>
            <fault name="ExceededRecordCountFault">
                <soap:fault name="ExceededRecordCountFault" use="literal"/>
            </fault>
            <fault name="ExceededRequestSizeFault">
              <soap:fault name="ExceededRequestSizeFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NetSuiteService">
        <port name="NetSuitePort" binding="tns:NetSuiteBinding">
            <soap:address location="https://webservices.netsuite.com/services/NetSuitePort_2008_1"/>
        </port>
    </service>
</definitions>
